.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: rgb(219, 238, 240);
  width: 50%;
  margin-left: 28rem;
  display: flex;
  align-items: center;
}
#numcarte {
  background-color: rgb(219, 238, 240);
}
#nomp {
  background-color: rgb(219, 238, 240);
}
#codec {
  background-color: rgb(219, 238, 240);
}
#adresse {
  background-color: rgb(219, 238, 240);
}
